@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;500;700");

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.card-white {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 40px;
}

.footer-white {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
  margin: 10px 0;
  text-align: center;
}

h1 {
  color: #1a1a2e;
  font-size: 1.8em;
}

h2 {
  color: #007acc;
  font-size: 1.4em;
}

.img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.img-circle {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.btn {
  color: #fff;
  background-color: #007acc;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  display: block;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.btn:hover {
  background-color: #005f99;
  transform: scale(1.05);
}

.description {
  margin: 15px 0;
  line-height: 1.6;
  text-align: center;
}

.list-inline {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  margin: 0 10px;
}

.list-inline > li a {
  color: #007acc;
  text-decoration: none;
}

.list-inline > li a:hover {
  color: #005f99;
}

.btn:focus, .list-inline a:focus {
  outline: 3px solid #005f99;
}
